.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.submit-btn {
    margin-top: 8px;
    border-radius: 8px;
    padding-block: 8px;
    padding-inline: 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}
.submit-btn:hover {
    background-color: #6c8cff;
}
.delay-label input {
    width: 360px;
    height: 40px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #808080;
    transition: border-color cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}
.delay-label input:hover {
    border-color: #000000;
}
.delay-label input:focus {
    border-color: #4e75ff;
}
.delay-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
fieldset {
    width: 360px;
    height: 78px;
    outline: none;
    border: 1px solid #808080;
    border-radius: 4px;
    transition: border-color cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
    display: flex;
    flex-direction: row;
    column-gap: 48px;
    justify-content: center;
    align-items: center;
}
fieldset:hover {
    border-color: #000000;
}
fieldset:focus {
    border-color: #000000;
}